<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleName</key>
  <string>CourseForge</string>
  <key>CFBundleDisplayName</key>
  <string>CourseForge</string>
  <key>CFBundleIdentifier</key>
  <string>com.ronaldarroyowatson.CourseForge</string>
  <key>CFBundleVersion</key>
  <string>1.7.84</string>
  <key>CFBundleShortVersionString</key>
  <string>1.7.84</string>
  <key>CFBundleExecutable</key>
  <string>CourseForge</string>
  <key>CFBundleIconFile</key>
  <string>CourseForge.icns</string>
  <key>LSMinimumSystemVersion</key>
  <string>12.0</string>
</dict>
</plist>
